DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5433/taller_db
MONGO_URL=mongodb://localhost:27017/taller_db

# Seguridad JWT (Valores de prueba académica)
SECRET_KEY=taller_key_2026
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
